body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;background-color: #2cb67d5d;
}
#wait{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 10%;
}
.circle {
width: 100px;
height: 100px;
border: 10px solid grey;
border-top-color: green;
border-radius: 50%;
animation: spin 2s linear infinite;
}


@keyframes spin {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}

aside{
    position: sticky;top: 0;background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;z-index: 10000;
    }
   aside>div{
    width: 50%;
   }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        }
        
        .sidenav a {
        text-decoration: none;
        display: block;
        transition: 0.3s;
        line-height: 35px;
        color: #302d2d;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;
        padding:10px ;
        padding-left: 15px;
        }
        
        .sidenav a:hover {
        background-color: #2CB67D;
        color: #2b2929;
        }
        #img{
        width: 60px;
        margin-top: -40px;
        margin-left: 10px;
        }
        .sidenav>img{
            width: 100px;
            height: 60px;
            margin: 10px;
            margin-top: -40px;
        }
        .container {
            position: absolute;
            right: 0;
            margin-right: 40px;
            background-color: #2CB67D;
            padding: 10px;
            border-radius: 10px;
          }
          
          .bar1, .bar2, .bar3 {
            width: 20px;
            height: 5px;
            background-color: rgb(255, 255, 255);
            margin: 6px 0;
            transition: 0.4s;
          }
          
          .change .bar1 {
            transform: translate(0, 11px) rotate(-45deg);
          }
          
          .change .bar2 {opacity: 0;}
          
          .change .bar3 {
            transform: translate(0, -11px) rotate(45deg);
          }
        
            .container{
              display: inline-block;
              cursor: pointer;
              position:absolute;
              top:15px;
             }
           
       #title{
        padding-left: 30px;
        line-height: 17px;
       }
       #title h3{
        color: rgb(74, 137, 220);
       }
       #client{
        background-image: url(images/advert.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 20px;
        height: auto;border-radius: 20px;
        position: relative;
       }
       #client1{
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 20px;
        background-color:#2CB67D;;border-radius: 20px;
        display: flex;flex-direction: row;
       }
       #client1>div{
        width: 50%;margin: 10px;
       }
       #client p{
        color: #fff;font-weight: bold;
       }
       #client1 img{
        width: 200px;
        height: 200px;border-radius: 20px;
       }
       .refer{
        padding: 10px;margin: 20px;margin-top: 40px;
        background-color:#ffffff;;border-radius: 20px;font-weight: 600;color: #363131;
       }
       .refer p{
        font-size: 14px;font-weight: 700;
       }
       .form{
        display: flex;flex-direction: row;margin-top: 10px;
       }
       .form input{
           padding: 8px;border: 1px solid rgb(196, 189, 189);
       }
       #link{
        width: 100%;border-top-left-radius: 10px;border-bottom-left-radius: 10px;
       }
       #submit{
        background-color: #2CB67D;border: none;color: white;font-weight: 700;border-top-right-radius: 10px;border-bottom-right-radius: 10px;
       }
       #invites{
        background-color: #fff;margin: 20px;padding: 20px;border-radius: 20px;color: #2b2929;
       }
       #earn{
        background-color: #fff;
        padding: 20px;margin-bottom: 10%;
       }
       #earn>a{
        display: block;display: flex;flex-direction: row;
        margin: 10px;
        box-shadow: 1px 1px 10px rgb(187, 184, 184);padding: 10px;border-radius: 20px;
        color: #2b2929;text-decoration: none;
       }
       #earn a>div{
        width: 50%;
       }
       #earn a>div>i{
        float: right;
        margin: 30px;
        background-color: #2CB67D;color: #fff;padding: 8px;border-radius: 50px;
       }
       #earn img{
        height: 80px;
        width: 100px;
        box-shadow: 1px 1px 10px rgb(187, 184, 184);border-radius: 20px;
       }


       #downNav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap; position: fixed;
        bottom: 0;left: 0;right: 0;background-color: #fff;
       }
      #downNav>a{
        display: block;
        text-align: center;width: 20%;
       line-height:6px;padding: 10px;
      }
      #downNav p{
      font-size: 14px;
      }
      #downNav >a> i{
        font-size: 20px;
      }
      #mid{
        background-color: #2CB67D;color: #fff;
      }
       @media only screen and (max-width: 700px) {
        #downNav p{
          font-size: 12px;
          }
            #client1{
       flex-direction: column;
         }
         #client1>div{
          width: auto;margin: 10px;
         } 
         #client1 img{
          width: 100%;
          height: 250px;border-radius: 20px;
         }
         #earn>a{
        flex-direction: column;
         }
         #earn a>div{
          width: auto;
         }
       }